.drpdwn {
    list-style-type: none;
}

.drpdwn ul {
    display: none;
}

.drpdwn ul li{
    list-style-type: none;
}


.drpdwn ul li a{
    color:white;
}

.drpdwn:hover ul{
    display: block;
    position: relative;
    background: #41768f;
    margin: 0;
    border-radius: 10px;
}