{% extends "admin/change_list.html" %}
{% load i18n admin_urls static admin_list %}


{% block result_list %}
  {% if action_form and actions_on_top and cl.show_admin_actions %}{% admin_actions %}{% endif %}
  {% result_list cl %}
  {% if action_form and actions_on_bottom and cl.show_admin_actions %}{% admin_actions %}{% endif %}
{% endblock %}

{% block footer %}
<script>
(function(document) {
	'use strict';

	var LightTableFilter = (function() {
		var _input;

		function _onInputEvent(e) {
			_input = e.target;
			var table = document.getElementById('result_list').getElementsByTagName('tbody')[0];
			var tr = table.getElementsByTagName('tr');
			Array.prototype.forEach.call(tr, function (row) {
                var text = row.textContent.toLowerCase(), val = _input.value.toLowerCase();
			    row.style.display = text.indexOf(val) === -1 ? 'none' : 'table-row';
            });
		}

		return {
			init: function() {
				var input = document.getElementById('searchbar');
                input.oninput = _onInputEvent;
			}
		};
	})();

	document.addEventListener('readystatechange', function() {
		if (document.readyState === 'complete') {
			LightTableFilter.init();
		}
	});

})(document);
</script>
{% endblock %}